
{$DOMAIN_NAME}

# need to turn this on to email when on server
# tls ${TLS}
tls off

proxy / frontend:{$FRONTEND_PORT} {
    transparent
}

proxy /ss ss:{$SS_PORT} {
    transparent
    websocket
}

errors stdout
log stdout
